<div class="beer">
  <h2>{{randomBeer.name}}</h2>
  <p>{{randomBeer.description}}</p>
  <img src="{{randomBeer.image_url}}" alt="{{randomBeer.name}} image">
  <p>Tagline: {{randomBeer.tagline}}</p>
  <p>Food Pairing: {{randomBeer.food_pairing}}</p>
  <p>Brewer Tips: {{randomBeer.brewers_tips}}</p>
</div>